.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tcx
*.gpx
secrets.R
App/~mr_data.csv
App/Test.Rmd
App/Test.html
App/rsconnect/documents/Test.Rmd/shinyapps.io/brndngrhm/Test.dcf
*.csv
scripts/read_data.R
App/rsconnect/documents/Test.Rmd/rpubs.com/rpubs/Publish Document.dcf
App/rsconnect/documents/MR_Strava.Rmd/shinyapps.io/brndngrhm/MR_Strava.dcf
App/rsconnect/documents/bg_strava_0.5.Rmd/shinyapps.io/brndngrhm/bg_strava.dcf
App/MR_Strava_new.Rmd
App/MR_Strava.Rmd
App/MR_Strava.html
App/media/new_logo.png
App/media/logo.png
App/ggmapTemp.png
App/Rplots.pdf
App/bg_strava_0.5.Rmd
App/bg_strava_0.4.Rmd
App/bg_strava_0.3.Rmd
App/bg_strava_0.2.Rmd
App/.httr-oauth
activities/ggmapTemp.png
.httr-oauth
